<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="de.bopindux.helloJavaFx">
    <Appenders>
        <TextAreaAppender name="TextAreaAppender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %msg%n"/>
        </TextAreaAppender>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TextAreaAppender"/>
        </Root>
    </Loggers>
</Configuration>